<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div class="push-top panel panel-primary">
        <div class="panel-heading">
          <h2>Sign in</h2>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div><%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, :class => 'form-control' %></div>
            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %></div>
            <% if devise_mapping.rememberable? -%>
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
            <% end -%>
            <div><%= f.submit "Sign in", :class => 'form-control btn btn-primary' %></div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>