= form_for @value do |f|
  - if @value.errors.any?
    #error_explanation
      %h2= "#{pluralize(@value.errors.count, "error")} prohibited this value from being saved:"
      %ul
        - @value.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :value
    = f.text_field :value
  .field
    = f.label :tolerance
    = f.text_field :tolerance
  .field
    = f.label :upper_bound
    = f.text_field :upper_bound
  .field
    = f.label :lower_bound
    = f.text_field :lower_bound
  .field
    = f.label :true_label
    = f.text_field :true_label
  .field
    = f.label :false_label
    = f.text_field :false_label
  .field
    = f.label :not_applicable
    = f.check_box :not_applicable
  .field
    = f.label :measurement_id
    = f.number_field :measurement_id
  .field
    = f.label :log_entry_id
    = f.number_field :log_entry_id
  .actions
    = f.submit 'Save'
