%h1 Listing values

%table
  %tr
    %th Value
    %th Tolerance
    %th Upper bound
    %th Lower bound
    %th True label
    %th False label
    %th Not applicable
    %th Measurement
    %th Log Entry
    %th Validation Color
    %th
    %th
    %th

  - @values.each do |value|
    %tr
      %td= value.value
      %td= value.tolerance
      %td= value.upper_bound
      %td= value.lower_bound
      %td= value.true_label
      %td= value.false_label
      %td= value.not_applicable
      %td= value.measurement_id
      %td= value.log_entry_id
      %td= validation_color(value)
      %td= link_to 'Show', value
      %td= link_to 'Edit', edit_value_path(value)
      %td= link_to 'Destroy', value, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Value', new_value_path
