%p#notice= notice

%p
  %b Value:
  = @value.value
%p
  %b Tolerance:
  = @value.tolerance
%p
  %b Upper bound:
  = @value.upper_bound
%p
  %b Lower bound:
  = @value.lower_bound
%p
  %b True label:
  = @value.true_label
%p
  %b False label:
  = @value.false_label
%p
  %b Not applicable:
  = @value.not_applicable
%p
  %b Measurement:
  = @value.measurement_id
%p
  %b Log Entry:
  = @value.log_entry_id

= link_to 'Edit', edit_value_path(@value)
\|
= link_to 'Back', values_path
