.row
  .col-md-12
    %h1
      %strong
        = @equipment.name
.row
  .col-md-12
    = nested_form_for @equipment do |f|
      - if @equipment.errors.any?
        #error_explanation
          %h2= "#{pluralize(@equipment.errors.count, "error")} prohibited this equipment from being saved:"
          %ul
            - @equipment.errors.full_messages.each do |msg|
              %li= msg
      .panel.panel-primary
        .panel-heading
          %h3.panel-title.text-center
            %strong Measurements
        .panel-body
          = f.fields_for :measurements do |m|
            .row
              .col-md-3
                .form-group
                  %label Name
                  = m.text_field :name, :class => 'form-control'
              .col-md-2
                .form-group
                  %label Unit
                  = m.text_field :unit, :class => 'form-control'
              .col-md-2
                .form-group
                  %label Position
                  = m.number_field :name_position, :class => 'form-control'
              .col-md-3
                .form-group
                  %label True/False Measurement?
                  = m.check_box :is_bool, :class => 'form-control'
              .col-md-2
                .form-group
                  = m.link_to_remove "<div class='btn btn-md btn-danger' style='margin-top: 25px;'><span class='glyphicon glyphicon-minus' style='color: white;'></span></div>".html_safe
          .row
            .col-md-12
              = f.link_to_add "<div class='btn btn-md btn-success'><span class='glyphicon glyphicon-plus' style='color: white;'></span></div>".html_safe, :measurements
        .panel-footer
          .row
            .col-md-12
              %button.pull-right.btn.btn-primary.form-control{:type => :submit, :name => "commit"}
                %span.glyphicon.glyphicon-check
                Save
