%h1 Listing equipment

%table
  %tr
    %th Name
    %th Name position
    %th Equipment group
    %th
    %th
    %th

  - @equipment.each do |equipment|
    %tr
      %td= equipment.name
      %td= equipment.name_position
      %td= equipment.equipment_group_id
      %td= link_to 'Show', equipment
      %td= link_to 'Edit', edit_equipment_path(equipment)
      %td= link_to 'Destroy', equipment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Equipment', new_equipment_path
