%p#notice= notice

%p
  %b Name:
  = @equipment.name
%p
  %b Name position:
  = @equipment.name_position
%p
  %b Equipment group:
  = @equipment.equipment_group_id

= link_to 'Edit', edit_equipment_path(@equipment)
\|
= link_to 'Back', equipment_index_path
