.container
  #myCarousel.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    .carousel-inner
      .item.active
        = image_tag("caro1.png")
        .container
          .carousel-caption
            %h1 Track Your Assets
            %p Whether you run a network of manufacturing lines or you just want to keep track of little league stats, GreenBoard can track your statistics and give you feedback if your numbers start slipping. Use it to keep track of guidelines, hard limits, and the sweet spots in your data.
            %p
              - if ENTERPRISE
                %a.btn.btn-lg.btn-primary{:style => "color: white;", :href => new_user_session_path, :role => "button"} Sign up today
              - else
                %a.btn.btn-lg.btn-primary{:style => "color: white;", :href => new_user_registration_path, :role => "button"} Sign up today
      .item
        = image_tag("caro2.png")
        .container
          .carousel-caption
            %h1 Maintain Control
            %p Share control when you want to, with who you want to. GreenBaord allows you to keep your data private and give up control to people you trust and designate.
            %p
              - if ENTERPRISE
                %a.btn.btn-lg.btn-primary{:style => "color: white;", :href => new_user_session_path, :role => "button"} Sign up today
              - else
                %a.btn.btn-lg.btn-primary{:style => "color: white;", :href => new_user_registration_path, :role => "button"} Sign up today
      .item
        = image_tag("caro3.png")
        .container
          .carousel-caption
            %h1 Check Yourself Before You Wreck Yourself
            %p Want to get a "What If" view of your stats? GreenBoard lets you see what is falling out of tolerance before you commit those measurements to your audit log. Just in case.
            %p
              - if ENTERPRISE
                %a.btn.btn-lg.btn-primary{:style => "color: white;", :href => new_user_session_path, :role => "button"} Sign up today
              - else
                %a.btn.btn-lg.btn-primary{:style => "color: white;", :href => new_user_registration_path, :role => "button"} Sign up today
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
      %span.glyphicon.glyphicon-chevron-right
  .row
    .col-md-4
      %h2{:style => "text-align: center;"} Scalable and Fast
      %p{:style => "text-align: center;"} GreenBoard is perfect for individuals, small teams, and gigantic enterprises. Built to be scalable, GreenBoard is a simple project with a simple goal.
    .col-md-4
      %h2{:style => "text-align: center;"} Track All The Things!
      %p{:style => "text-align: center;"} From sports scores to manufacturing specifications, you can track any numerical data and their tolerances with GreenBoard. Data is always preserved, so you're covered come audit time (or if you're just feeling nostalgic).
    .col-md-4
      %h2{:style => "text-align: center;"} Open Source
      %p{:style => "text-align: center;"} GreenBoard is open source. If you want to contribute, hit us up on GitHub, or make a fork and keep it for yourself. The software is open and you can use if for whatever you please.
