= form_for @equipment_group do |f|
  - if @equipment_group.errors.any?
    .row
      .col-md-12
        #error_explanation
          %h2= "#{pluralize(@equipment_group.errors.count, "error")} prohibited this equipment_group from being saved:"
          %ul
            - @equipment_group.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-md-10
      .form-group
        = f.text_field :name, :class => 'form-control', :placeholder => 'Table Name'
    .col-md-2
      .actions
        = f.submit 'Save', :class => 'btn btn-success'
