%h1 Listing equipment_groups

%table
  %tr
    %th Name
    %th Name position
    %th
    %th
    %th

  - @equipment_groups.each do |equipment_group|
    %tr
      %td= equipment_group.name
      %td= equipment_group.name_position
      %td= link_to 'Show', equipment_group
      %td= link_to 'Edit', edit_equipment_group_path(equipment_group)
      %td= link_to 'Destroy', equipment_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Equipment group', new_equipment_group_path
