%table.table.table-condensed.table-striped{data: {url: equipment_group_table_path(@equipment_group) } }
  %tr
    %th.tv_heading.h4 Equipment
    %th.tv_heading.h4 Measurement
    %th.tv_heading.h4 Unit
    %th.tv_heading.h4 Lower Bound
    %th.tv_heading.h4 Upper Bound
    - if @equipment_group.measurements.empty?
      %th.tv_heading.h4 Infinity
      %tr
        %td{:colspan => 6}
          %h1.text-center
            %strong
              Why don't you add some Equipment and Measurements in the section below?
    - else
      - @equipment_group.measurements.first.values.last(5).reverse!.each do |v|
        %th.tv_heading.h4
          = v.log_entry.capture_date.strftime("%b %-d")
          %br
          = v.log_entry.capture_date.strftime("%k:%M")
  - @equipment.order(:name_position).each do |e|
    - e.measurements.order(:name_position).each do |m|
      %tr
      - if m === e.measurements.order(:name_position).first
        %td= e.name
      - else
        %td
      - if m.values.empty?
        %td= m.name
        %td= m.unit
        %td ?
        %td ?
        %td{ :rel => "tooltip", :class => "blue", :title => "N/A", :data => { :toggle => "tooltip", :placement => "top", :container => "body" } } N/A
      - else
        %td= m.name
        %td= m.unit
        %td= m.values.last.lower_bound_display
        %td= m.values.last.upper_bound_display
        - m.values.last(5).reverse!.each do |v|
          %td{ :rel => "tooltip", :class => "#{validation_color(v)}", :title => v.metadata, :data => { :toggle => "tooltip", :placement => "top", :container => "body" } }= v.value_display