.container
  .row
    .col-md-12
      %h1
        %strong
          %span.glyphicon.glyphicon-pencil{ :style => "color: red;", :rel => "tooltip", :title => "Click to edit", :data => { :toggle => "tooltip", :placement => "top", :container => "body" } }
          %span#TableName.rest-in-place{ :data => { :url => equipment_group_path(@equipment_group), :object => 'equipment_group', :attribute => 'name', :placeholder => 'Click to Edit' } }
            = @equipment_group.name
  .row
    .col-md-12
      .panel.panel-warning
        .panel-heading.text-center
          %strong
            %span.glyphicon.glyphicon-eye-open
            Permissions
            %span.glyphicon.glyphicon-pencil
        .panel-body
          = nested_form_for @equipment_group do |f|
            = f.fields_for :authorizations do |af|
              .row.push-bottom
                .col-md-4
                  = af.label :user_id, "Username"
                  = af.collection_select :user_id, User.order('username ASC').all, :id, :username, {}, :class => 'form-control'
                .col-md-3
                  = af.label :read_permission
                  = af.select :read_permission, options_for_select({ "True" => true, "False" => false }, af.object.read_permission), {}, { :class => 'form-control' }
                .col-md-3
                  = af.label :write_permission
                  = af.select :write_permission, options_for_select({ "True" => true, "False" => false }, af.object.write_permission), {}, { :class => 'form-control' }
                  = af.hidden_field :equipment_group_id, :class => 'form-control', :value => @equipment_group.id
                .col-md-2
                  = af.link_to_remove "<div class='btn btn-md btn-danger' style='margin-top: 25px;'><span class='glyphicon glyphicon-minus' style='color: white;'></span></div>".html_safe
            .row.push-bottom
              .col-md-12
                = f.link_to_add "<div class='btn btn-md btn-success'><span class='glyphicon glyphicon-plus' style='color: white;'></span></div>".html_safe, :authorizations
            .row
              .col-md-12
                %button.pull-right.btn.btn-primary.form-control{:type => :submit, :name => "commit"}
                  %span.glyphicon.glyphicon-check
                  Save
        .panel-footer
          %p.text-muted Write permission automatically grants read permission.
          %p.text-muted If a user is not listed, they do not have permission to your table.
  .row
    .col-md-12
      .panel.panel-danger
        .panel-heading.text-center
          %h1
            %strong
              %span.glyphicon.glyphicon-warning-sign
              DANGER ZONE
              %span.glyphicon.glyphicon-warning-sign
        .panel-body
          = form_for @equipment_group do |f|
            .row.push-bottom
              .col-md-6
                Make Table Public?
              .col-md-4
                = f.select :public_access, options_for_select({ "True" => true, "False" => false }, f.object.public_access), {}, { :class => 'form-control' }
              .col-md-2
                %button.pull-right.btn.btn-primary.form-control{:type => :submit, :name => "commit"}
                  %span.glyphicon.glyphicon-check
                  Save
            .row.push-bottom
              .col-md-6
                Change Ownership?
              .col-md-4
                = f.collection_select :user_id, User.order('username ASC').all, :id, :username, {}, :class => 'form-control'
              .col-md-2
                %button.pull-right.btn.btn-primary.form-control{:type => :submit, :name => "commit"}
                  %span.glyphicon.glyphicon-check
                  Save
            .row
              .col-md-12
                %a.form-control.btn.btn-danger{ :href => equipment_group_path(@equipment_group), :style => 'color: white;', :data => { :method => :delete, :confirm => 'Are you sure?' } }
                  %strong
                    %span.glyphicon.glyphicon-fire
                    DESTROY TABLE (this cannot be undone)
                    %span.glyphicon.glyphicon-fire
        .panel-footer
          %p.text-muted Public access only applies to read permissions. There is no public write permission.
          %p.text-muted Don't lock yourself out! If you need to maintain read or write access to this table, give yourself permissions before you change owner.