%p#notice= notice

%p
  %b Name:
  = @equipment_group.name
%p
  %b Name position:
  = @equipment_group.name_position

= link_to 'Edit', edit_equipment_group_path(@equipment_group)
\|
= link_to 'Back', equipment_groups_path
