.container
  .row
    .col-md-6
      %h1
        %strong
          = @equipment_group.name
    .col-md-1
      %a.btn.btn-primary.form-control{:href => tv_mode_path(@equipment_group), :style => 'color: white; margin-top: 25px;', :rel => "tooltip", :title => "TV Mode", :data => { :toggle => "tooltip", :placement => "top", :container => "body" } }
        %span.glyphicon.glyphicon-fullscreen
    - if user_signed_in?
      - if current_user.is_owner(@equipment_group)
        .col-md-3
          %a.btn.btn-success.form-control{:href => new_row_simple_path(@equipment_group), :style => 'color: white; margin-top: 25px;'}
            %span.glyphicon.glyphicon-list-alt
            Take new measurement
        .col-md-2
          %a.btn.btn-warning.form-control{:href => equipment_group_settings_path(@equipment_group), :style => 'color: white; margin-top: 25px;'}
            %span.glyphicon.glyphicon-cog
            Settings
      - elsif current_user.can_write(@equipment_group)
        .col-md-5
          %a.btn.btn-success.form-control{:href => new_row_simple_path(@equipment_group), :style => 'color: white; margin-top: 25px;'}
            %span.glyphicon.glyphicon-list-alt
            Take new measurement
  .row
    .col-md-12
      / This is so unthinkably nasty...
      :erb
        <% if POLLING_ENABLED %>
          <script>
            $(function () {
              $('#table').html("<iframe id='iframe' scrolling='no' frameborder='0' style='width: 100%; margin: 0px; padding: 0px; overflow: hidden;' src='<%= just_the_table_path(@equipment_group) %>'></iframe>");
              $(document).ready(function(){
                  $('iframe').each(function(){
                      var context = $(this);
                      context.load(function(event){ // attach the onload event to the iframe
                          var body = $(this.contentWindow.document).find('body');
                          if (body.length > 0 && $(body).find('*').length > 0) { // check if iframe has contents
                              context.height($(body.get(0)).height() + 20);
                          } else {
                              context.hide(); // hide iframes with no contents
                          }
                      });
                  });
              });
            });
            window.setInterval(function(){
              $('#table').html("<iframe id='iframe' scrolling='no' frameborder='0' style='width: 100%; margin: 0px; padding: 0px; overflow: hidden;' src='<%= just_the_table_path(@equipment_group) %>'></iframe>");
              $(document).ready(function(){
                  $('iframe').each(function(){
                      var context = $(this);
                      context.load(function(event){ // attach the onload event to the iframe
                          var body = $(this.contentWindow.document).find('body');
                          if (body.length > 0 && $(body).find('*').length > 0) { // check if iframe has contents
                              context.height($(body.get(0)).height() + 20);
                          } else {
                              context.hide(); // hide iframes with no contents
                          }
                      });
                  });
              });
            }, 60000);
          </script>
          <div id='table'></div>
        <% else %>
          <%= render 'just_the_table' %>
        <% end %>
  - if user_signed_in?
    - if current_user.is_owner(@equipment_group)
      .row
        = nested_form_for @equipment_group do |f|
          .col-md-12
            #accordion1.panel-group
              .panel.panel-warning
                .panel-heading
                  %h3.panel-title.text-center
                    %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEquipment"}
                      %span.glyphicon.glyphicon-plus
                      Modify Equipment
                      %span.glyphicon.glyphicon-pencil
                #collapseEquipment.panel-collapse.collapse
                  .panel-body
                    = f.fields_for :equipment do |ef|
                      .row
                        .col-md-6
                          .form-group
                            %label Name
                            = ef.text_field :name, :class => "form-control"
                        .col-md-1
                          .form-group
                            %label Position
                            = ef.number_field :name_position, :class => "form-control"
                          = ef.hidden_field :equipment_group_id, :value => @equipment_group.id
                        - if ef.object.id
                          .col-md-3
                            %a.btn.btn-warning{:href => edit_equipment_path(ef.object), :style => 'color: white; margin-top: 25px;'}
                              %span.glyphicon.glyphicon-pencil
                              Modify Measurements
                        .col-md-2
                          .form-group
                            = ef.link_to_remove "<div class='btn btn-md btn-danger' style='margin-top: 25px;'><span class='glyphicon glyphicon-minus' style='color: white;'></span></div>".html_safe
                    .row
                      .col-md-12
                        = f.link_to_add "<div class='btn btn-md btn-success'><span class='glyphicon glyphicon-plus' style='color: white;'></span></div>".html_safe, :equipment

                        %br
                        %br
                    .row
                      .col-md-12
                        %button.pull-right.btn.btn-primary.form-control{:type => :submit, :name => "commit"}
                          %span.glyphicon.glyphicon-check
                          Save
                        %br
                        %br
                        %br
                    .row
                      .col-md-12
                        .text-muted
                          %strong Note:
                          Equipment without measurements will not be shown. Add a new measurement by clicking "Modify Measurements".
