.container
  .row
    .col-md-12
      / This is so unthinkably nasty...
      :erb
        <% if POLLING_ENABLED %>
          <script>
            $(function () {
              $('#table').html("<iframe id='iframe' scrolling='no' frameborder='0' style='width: 100%; margin: 0px; padding: 0px; overflow: hidden;' src='<%= just_the_table_path(@equipment_group) %>'></iframe>");
              $(document).ready(function(){
                  $('iframe').each(function(){
                      var context = $(this);
                      context.load(function(event){ // attach the onload event to the iframe  
                          var body = $(this.contentWindow.document).find('body');
                          if (body.length > 0 && $(body).find('*').length > 0) { // check if iframe has contents
                              context.height($(body.get(0)).height() + 20);
                          } else {
                              context.hide(); // hide iframes with no contents
                          }
                      });
                  });
              });
            });
            window.setInterval(function(){
              $('#table').html("<iframe id='iframe' scrolling='no' frameborder='0' style='width: 100%; margin: 0px; padding: 0px; overflow: hidden;' src='<%= just_the_table_path(@equipment_group) %>'></iframe>");
              $(document).ready(function(){
                  $('iframe').each(function(){
                      var context = $(this);
                      context.load(function(event){ // attach the onload event to the iframe  
                          var body = $(this.contentWindow.document).find('body');
                          if (body.length > 0 && $(body).find('*').length > 0) { // check if iframe has contents
                              context.height($(body.get(0)).height() + 20);
                          } else {
                              context.hide(); // hide iframes with no contents
                          }
                      });
                  });
              });
            }, 60000);
          </script>
          <div id='table'></div>
        <% else %>
          <%= render 'just_the_table' %>
        <% end %>