= form_for @measurement do |f|
  - if @measurement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@measurement.errors.count, "error")} prohibited this measurement from being saved:"
      %ul
        - @measurement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :unit
    = f.text_field :unit
  .field
    = f.label :name_position
    = f.number_field :name_position
  .field
    = f.label :is_bool
    = f.check_box :is_bool
  .field
    = f.label :equipment_id
    = f.number_field :equipment_id
  .actions
    = f.submit 'Save'
