%h1 Listing measurements

%table
  %tr
    %th Name
    %th Unit
    %th Name position
    %th Is bool
    %th Equipment
    %th
    %th
    %th

  - @measurements.each do |measurement|
    %tr
      %td= measurement.name
      %td= measurement.unit
      %td= measurement.name_position
      %td= measurement.is_bool
      %td= measurement.equipment_id
      %td= link_to 'Show', measurement
      %td= link_to 'Edit', edit_measurement_path(measurement)
      %td= link_to 'Destroy', measurement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Measurement', new_measurement_path
