%p#notice= notice

%p
  %b Name:
  = @measurement.name
%p
  %b Unit:
  = @measurement.unit
%p
  %b Name position:
  = @measurement.name_position
%p
  %b Is bool:
  = @measurement.is_bool
%p
  %b Equipment:
  = @measurement.equipment_id

= link_to 'Edit', edit_measurement_path(@measurement)
\|
= link_to 'Back', measurements_path
