%h1 Listing log_entries

%table
  %tr
    %th Capture date
    %th
    %th
    %th

  - @log_entries.each do |log_entry|
    %tr
      %td= log_entry.capture_date
      %td= link_to 'Show', log_entry
      %td= link_to 'Edit', edit_log_entry_path(log_entry)
      %td= link_to 'Destroy', log_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Log entry', new_log_entry_path
