- @value = @log_entry.values.build
= nested_form_for @log_entry do |f|
  .container
    - if @log_entry.errors.any?
      .row
        .col-md-12
          #error_explanation
            %h2= "#{pluralize(@log_entry.errors.count, "error")} prohibited this log_entry from being saved:"
            %ul
              - @log_entry.errors.full_messages.each do |msg|
                %li= msg
    .row
      .col-md-12
        %h1
          %strong
            = @equipment_group.name
    .row
      .col-md-12
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th Equipment
              %th Measurement
              %th Unit
              %th Lower Bound
              %th Upper Bound
              %th True Label
              %th False Label
              %th Tolerance (Decimal < 1)
              %th True/False?
              %th N/A
              %th
                Value On:
                %br
                .form-group
                  #datetimepicker1.input-group.date
                    = f.text_field :capture_date, value: Time.now, :class => 'form-control', :style => 'font-size: 70%;', "data-date-format" => "YYYY-MM-DD HH:mm:ss ZZ"
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-calendar
                :javascript
                  $(function () {
                      $('#datetimepicker1').datetimepicker({

                        });
                  });
              %th
                %span.glyphicon.glyphicon-heart-empty
          - @equipment.order(:name_position).each do |e|
            - e.measurements.order(:name_position).each do |m|
              %tr
              - if m === e.measurements.order(:name_position).first
                %td= e.name
              - else
                %td
              %td= m.name
              %td= m.unit
              - if m.values.empty?
                = f.fields_for :values do |value_form|
                  - if m.is_bool
                    %td= value_form.select :lower_bound, options_for_select({ "True" => 1.0, "False" => 0.0 }), {}, { :class => 'short form-control lower_bound' }
                  - else
                    %td= value_form.text_field :lower_bound, :class => 'short form-control lower_bound'
                  - if m.is_bool
                    %td= value_form.select :upper_bound, options_for_select({ "True" => 1.0, "False" => 0.0 }), {}, { :class => 'short form-control upper_bound' }
                  - else
                    %td= value_form.text_field :upper_bound, :class => 'short form-control upper_bound'
                  - if m.is_bool
                    %td= value_form.text_field :true_label, value: "True", :class => 'short form-control true_label'
                  - else
                    %td.true_label
                  - if m.is_bool
                    %td= value_form.text_field :false_label, value: "False", :class => 'short form-control false_label'
                  - else
                    %td.false_label
                  - if m.is_bool
                    %td= value_form.text_field :tolerance, value: 0.0, :class => 'short form-control tolerance'
                  - else
                    %td= value_form.text_field :tolerance, :class => 'short form-control tolerance'
                  %td.text-center
                    %strong.is_bool= m.is_bool ? 'Yes' : 'No'
                  %td= value_form.check_box :not_applicable, :class => 'short form-control'
                  - if m.is_bool
                    %td= value_form.select :value, options_for_select({ "True" => 1.0, "False" => 0.0 }), {}, { :class => 'short form-control value' }
                  - else
                    %td= value_form.text_field :value, :class => 'short form-control value'
                  = value_form.hidden_field :measurement_id, value: m.id
                  = value_form.hidden_field :log_entry_id, value: @log_entry.id
              - else
                = f.fields_for :values do |value_form|
                  - if m.is_bool
                    %td= value_form.select :lower_bound, options_for_select({ m.values.last.true_label => 1.0, m.values.last.false_label => 0.0 }, m.values.last.lower_bound), {}, { :class => 'short form-control lower_bound' }
                  - else
                    %td= value_form.text_field :lower_bound, value: m.values.last.lower_bound, :class => 'short form-control lower_bound'
                  - if m.is_bool
                    %td= value_form.select :upper_bound, options_for_select({ m.values.last.true_label => 1.0, m.values.last.false_label => 0.0 }, m.values.last.upper_bound), {}, { :class => 'short form-control upper_bound' }
                  - else
                    %td= value_form.text_field :upper_bound, value: m.values.last.upper_bound, :class => 'short form-control upper_bound'
                  %td= value_form.text_field :true_label, value: m.values.last.true_label, :class => 'short form-control true_label'
                  %td= value_form.text_field :false_label, value: m.values.last.false_label, :class => 'short form-control false_label'
                  - if m.is_bool
                    %td= value_form.text_field :tolerance, value: 0.0, :class => 'short form-control tolerance'
                  - else
                    %td= value_form.text_field :tolerance, value: m.values.last.tolerance, :class => 'short form-control tolerance'
                  %td.text-center
                    %strong.is_bool= m.is_bool ? 'Yes' : 'No'
                  %td= value_form.check_box :not_applicable, value: m.values.last.not_applicable, :class => 'short form-control not_applicable'
                  - if m.is_bool
                    %td= value_form.select :value, options_for_select({ m.values.last.true_label => 1.0, m.values.last.false_label => 0.0 }, m.values.last.value), {}, { :class => 'longer form-control value' }
                  - else
                    %td= value_form.text_field :value, value: m.values.last.value, :class => 'short form-control value'
                  %td
                    %span.verify-icon.glyphicon
                  = value_form.hidden_field :measurement_id, value: m.id
                  = value_form.hidden_field :log_entry_id, value: @log_entry.id
    .row
      .col-md-12
        / = f.submit "Save"
        %button.pull-right.btn.btn-primary.form-control{:type => :submit, :name => "commit"}
          %span.glyphicon.glyphicon-check
          Save
