/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.alert,.text-center{
  text-align: center;
}

.text-muted.brand {
  /* unvisited link */
  a:link {
  color: #999;
  text-decoration: none;
  background: #FFF;
  }

  /* visited link */
  a:visited {
  color: #999;
  text-decoration: none;
  background: #FFF;
  }

  /* mouse over link */
  a:hover {
  color: #999;
  text-decoration: none;
  background: #FFF;
  }

  /* selected link */
  a:active {
  color: #999;
  text-decoration: none;
  background: #FFF;
  }
}

.blue-bg {
  background-color: rgb(0, 0, 255) !important;
  font-weight: bold !important;
  color: white;
}
.green-bg {
  background-color: rgb(21, 236, 21) !important;
  font-weight: bold !important;
}
.yellow-bg {
  background-color: rgb(255, 255, 0) !important;
  font-weight: bold !important;
}
.red-bg {
  background-color: rgb(255, 92, 92) !important;
  font-weight: bold !important;
}
.gray-bg {
  background-color: rgb(150, 150, 150) !important;
  font-weight: bold !important;
}
.light-green-bg {
  background-color: rgba(21, 236, 21, 0.3) !important;
  font-weight: bold !important;
}
.light-yellow-bg {
  background-color: rgba(255, 255, 0, 0.3) !important;
  font-weight: bold !important;
}
.light-red-bg {
  background-color: rgba(255, 92, 92, 0.3) !important;
  font-weight: bold !important;
}
.light-gray-bg {
  background-color: rgba(150, 150, 150, 0.5) !important;
  font-weight: bold !important;
}
.short {
  width: 100%;
}
.longer {
  width: 100px;
}
.push-bottom {
  margin-bottom: 20px;
}
.push-top {
  margin-top: 20px;
}
.brand span, .brand a {
  color: green;
}
.tv_heading {
  font-weight: bold;
}
