.container
  %hr
  .row
    .col-md-6
      %p.text-muted
        &copy;
        = Time.now.year
        %a{:href => 'http://samurailink3.com'} Tom "SamuraiLink3" Webster
    .col-md-6
      %p.text-muted.pull-right
        GreenBoard is
        %a{:href => 'https://github.com'} open source
        and licensed under the
        %a{:href => "http://opensource.org/licenses/MIT"} MIT License
