- if flash[:notice]
  #notice.alert.alert-success.navbar-fixed-top.h1= notice
- if flash[:alert]
  #alert.alert.alert-danger.navbar-fixed-top.h1= alert
.container
  .masthead
    .h3.brand
      %a{:href => root_path}
        %span.glyphicon.glyphicon-home
        GreenBoard
    %ul.nav.navbar-default.nav-justified
      %li.dropdown
        %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
          %span.glyphicon.glyphicon-list-alt
          Tables
          %b.caret
        .dropdown-menu
          %ul.nav
            - if current_user
              - @equipment_groups.each do |e|
                %li
                  %a{:href => equipment_group_table_path(e)}
                    %span.glyphicon.glyphicon-list
                    = e.name
              %li.divider
              %li
                %a{:href => new_equipment_group_path}
                  %span.glyphicon.glyphicon-plus
                  Add a table
            - else
              %li= link_to "Sign in to see tables", new_user_session_path
      %li.dropdown
        %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
          %span.glyphicon.glyphicon-user
          - if current_user
            = current_user.username
          - else
            Login
          %b.caret
        .dropdown-menu
          %ul.nav
            - if current_user
              %li= link_to "Edit Account", edit_user_registration_path unless ENTERPRISE
              %li= link_to "Sign Out", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign In", new_user_session_path
              %li= link_to "Sign Up", new_user_registration_path unless ENTERPRISE
