<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2 text-center">
      <div class="push-top panel panel-primary">
        <div class="panel-heading">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => 'form-control' %></div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %></div>

            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %></div>

            <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %></div>

            <div><%= f.submit "Update" %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="push-top panel panel-danger">
        <div class="panel-heading">
          <h2>Cancel My Account</h2>
        </div>
        <div class="panel-body">
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class => 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
        <div class="panel-footer">
          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
