<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div class="push-top panel panel-primary">
        <div class="panel-heading">
          <h2>Sign Up</h2>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div><%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, :class => 'form-control' %></div>
            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => 'form-control' %></div>
            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %></div>
            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %></div>
            <div class="push-top"><%= f.submit "Sign up", :class => 'form-control btn btn-success' %></div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>